//----------------------------------------------------------------------------------------------
// color
//----------------------------------------------------------------------------------------------
$c-base: #000080;
$c-main: #008080;
$c-accent: #ff4500;

$t-main_black: #333333;
$t-main_white: #ffffff;


//----------------------------------------------------------------------------------------------
// font
//----------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
$noto-serif: 'Noto Serif JP', serif;


//----------------------------------------------------------------------------------------------
// break point
//----------------------------------------------------------------------------------------------
$break-point_xl: 1200px;
$break-point_lg: 1024px;
$break-point-md: 768px;
$break-point-sp: 540px;
$break-point-xs: 375px;